* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0;
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1600px;
    min-width: 320px;
}


