@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/breakpoints.scss';


:host {
    white-space: nowrap;
    position: fixed;
    z-index: 101;
    left: -100%;
    top: 55px;
    bottom: 0;
    display: block;
    width: 100%;
    background-color: #666F78;
    color: white;
    overflow-y: auto;
    transition: left 0.3s;

    

    @include lg-screen() {
        height: 100%;
        position: static;
        width: 260px;
        min-width: 260px;
    }

    @include xxl-screen() {
        width: 270px;
        min-width: 270px;
    }

    &.open {
        left: 0;
    }
}

.nav-list {
    padding: 0 20px;
    font-size: 17px;
    @include lg-screen() {
        padding: 0;
    }

    .nav-item {
        .nav-link {
            padding: 20px 0;
            width: 100%;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid white;
            font-weight: 700;
            line-height: 24px;

            @include lg-screen() {
                align-items: center;
                padding: 20px;
            }

            svg {
                margin-right: 10px;
            }

            span {
                line-height: 1;
            }

            

        }

        button.nav-link {
            @include lg-screen() {
                padding-left: 50px;
            }

            .wrapper {
                @include lg-screen() {
                    span {
                    text-align: left;
                    display: block;
                    margin: 5px 0;
                    }
                } 
            }

            .bank-info {
                font-weight: 300;
                margin-left: 20px;
                font-size: 15px;
            }

            .carret {
                margin-left: 10px;
            }
        }

        ul.management-submenu {
            display: none;
            padding-left: 35px;
            font-size: 13px;
            font-weight: 300;

            @include lg-screen() {
               display: block;
            } 

            a {
                text-decoration: underline;
            }
        }
    }
}

ul.superagent-submenu {
    padding-top: 10px;
    @include lg-screen() {
        padding-top: 0;
    }
    .superagent-submenu-item {
         
        @include lg-screen() {
            padding: 10px 20px;
        }
       
        &.active {
            background-color: transparent;
            @include lg-screen() {
                background-color: #A2A9B1;
            }
        }
        a {
            width: 100%;
            padding: 10px 0;
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            font-weight: 700;
            svg {
                margin-right: 10px;
            }
            span {
                line-height: 1;
            }
        }
       
    }
}

.mb-only {
    @include lg-screen() {
        display: none;
    }
}





